<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87D851BC1D7993B000DB2DFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D851D01D7993B100DB2DFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87D851DB1D7993B100DB2DFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
